<header class="custom-header">
    <div>
        <h6><strong>SISTEMA DE CREACIÓN ESTUDIANTES</strong></h6>
        <h4>FECHA: {{ fechaActual }} | HORA: {{hora}} : {{minuto}} : {{segundosFormat }}</h4>
    </div>
</header>

<div class="content">
    <form [formGroup]="estudiantesForm">
        <!-- Primera fila con tres columnas -->
        <div class="form-row">
            <div class="form-group">
                <label>Carnet:</label>
                <input type="text" formControlName="carnet" class="form-control" />
            </div>
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" formControlName="nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label>Apellido:</label>
                <input type="text" formControlName="apellido" class="form-control" />
            </div>
        </div>

        <!-- Segunda fila con tres columnas -->
        <div class="form-row">
            <div class="form-group">
                <label>CUI:</label>
                <input type="text" formControlName="CUI" class="form-control" />
            </div>
            <div class="form-group">
                <label>Teléfono:</label>
                <input type="text" formControlName="telefono" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" formControlName="email" class="form-control" />
            </div>
        </div>

        <!-- Tercera fila con tres columnas -->
        <div class="form-row" style="display: flex; justify-content: center; gap: 20px;">
            <div class="form-group" style="display: flex; flex-direction: column; align-items: center;">
                <label>Género:</label>
                <select formControlName="genero" class="form-control" style="width: 100%;">
                    <option value="" disabled selected>Selecciona género</option>
                    <option *ngFor="let opcion of opcionesGenero" [value]="opcion">{{ opcion }}</option>
                </select>
            </div>
            <div class="form-group" style="display: flex; flex-direction: column; align-items: center;">
                <label>Estado Civil:</label>
                <select formControlName="estado_civil" class="form-control" style="width: 100%;">
                    <option value="" disabled selected>Selecciona estado civil</option>
                    <option *ngFor="let opcion of opcionesEstadoCivil" [value]="opcion">{{ opcion }}</option>
                </select>
            </div>
            <div class="form-group" style="display: flex; flex-direction: column; align-items: right;">
                <label>Fecha de Nacimiento:</label>
                <input type="date" formControlName="fecha_nacimiento" class="form-control" style="width: 100%;" />
            </div>
        </div>

        <!-- Botones centrados -->
        <div class="form-row justify-content-center">
            <div class="form-group">
                <button mat-raised-button (click)="insertarEstudiante()" class="btn btn-primary">GUARDAR</button>
            </div>
            <div class="form-group">
                <button mat-raised-button (click)="LimpiarCampos()" class="btn btn-secondary">LIMPIAR</button>
            </div>
        </div>
    </form>
</div>

<footer class="footer">
    <p>Universidad Regional de Guatemala</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/URegionalStalucia"><img src="/facebook.png" alt="Facebook"></a>
        <a href="https://www.instagram.com/uregionalr2/profilecard/?igsh=aGE5am10aTd3NXFw"><img src="/instagram.png" alt="Instagram"></a>
        <a href="https://www.tiktok.com/@uregionalr2?_t=8qwMIqkgTX4&_r=1"><img src="/tiktok.png" alt="TikTok"></a>
    </div>
</footer>
